<div class="mt-4">
    <nav>
        <div class="container w-[90%] md:min-w-0 mx-auto flex justify-center items-center p-4 bg-gray-800 rounded-lg">
            <div>
                <a href="/" class="text-white p-2 font-mono text-lg">Home</a>
                <a href="/create" class="text-white p-2 font-mono text-lg">Create</a>
                <a href="/guide" class="text-white p-2 font-mono text-lg">Guide</a>
            </div>
        </div>
    </nav>
</div>