@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    color: white;
    font-family: system-ui, sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
    background: transparent;
}